body {
    background-color: cornflowerblue;
    color: white;
}

h1 {
    text-align: center;
    padding: 10px;
}

p {
    display: flex;
    justify-content: space-between;
    margin: 80px;
    text-align: justify;
}


/*Adding a smooth scroll bar styles*/


/*Scroll bar styles*/

::-webkit-scrollbar {
    width: 7px;
}


/*Scroll line styles*/

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(19, 17, 34, 0.2);
    border-radius: 25px;
}


/*Scroll bar styles*/

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgb(19, 17, 34);
}